*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
/outputs/
.externalNativeBuild
.cxx
local.properties
/app/release/baselineProfiles/0/ip-test-task.dm
/app/release/baselineProfiles/1/ip-test-task.dm
/app/release/output-metadata.json
/.kotlin/sessions/kotlin-compiler-18268066128191083376.salive
/app/src/test/

